///
/// @author Jacob Frazier-Flores
///

/// Downward pointing arrow
///
/// @example scss basic usage
///   li::before {
///     @include down-arrow;
///   }
@mixin down-arrow {
  content: "";
  border-color: #111 transparent;
  border-style: solid;
  border-width: 0.45em .35em 0 0.35em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: .9em;
  position: relative;
}

/// Right pointing arrow
///
/// @example scss basic usage
///   li::before {
///     @include right-arrow;
///   }
@mixin right-arrow {
  content: "";
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1em;
  position: relative;
}