// List holding line numbering
.line-numbers {
  // Remove dots and add a single vertical line
  list-style-type: none;
  border-right: 1px solid #d3d3d3;
  // Each individual line number
  > li {
    color: #d3d3d3;
    text-align: right;
  }
}