// Represents the side bar explorer
.project-explorer {
  // Should be 100% - navbar height
  height: 100%;

  // Heading for explorer
  h2 {
    // Should be the same as nav-tabs
    margin: 2px;
    //height: 6%;
    position: absolute;
    font-size: 2vw;
    font-weight: normal;
    bottom: 0;
  }
}

.explorer-header {
  position: relative;
  border-bottom: solid 1px #dee2e6;
  height: 6.38%;
}